@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Patua+One&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Outfit:wght@100..900&family=Patua+One&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Kurale&family=Outfit:wght@100..900&family=Patua+One&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Wellfleet&display=swap');

@keyframes loader {
    0%{
        mask-size: 100%;
    }
    100%{
        mask-size: 2000%;
        display: none;
    }
}



body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.frame{
    box-shadow: 0px -7px 0px -5px rgba(0, 0, 0, 1), 0px 7px 0px -5px rgba(0, 0, 0, 1); 
    width: auto; 
    height: auto; 
    place-self: center;
    margin-top: 2%;
    display: flex;
    place-items: center;
    justify-content: center;
}
.frameText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    font-size: 24px;
    font-family: 'Spectral', serif;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin: 2rem;
}

a {
    text-decoration: none; 
    font-family: 'Kurale', serif;
    font-size: 21px;
}

.spark {
    position: relative;   
}

#spark1 {
    top: -9px;
    right: 4px;
}

#spark2 {
    top: 10px;
    right: -3px;
}

.container{
    background-color: #1f1f1f;
    padding: 1.5rem;
    color: white;
    /* box-shadow: 10px 10px 0px 1px rgb(255, 255, 255), 10px 10px 0px 2px rgb(0, 0, 0); */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container::after{
    content: "";
    position: absolute;
    transform: translate(10px, 10px);
    width: 100%;
    height: 100%;
    border: 1px solid #1f1f1f;
    z-index: -10000;
}



#omori-headspace-sky {
    color: white;
}

.string {
    width: 2px;
    height: 5rem;
    background-color: #1f1f1f;
    position: absolute;
    left: 33%;
    top: 0;
    place-content: end;
}

.hands{
    position: absolute;        
    z-index: -1;
    position: absolute;    
}

#lightbulb {     
    position: relative;
    left: 0.3px;
    translate: -50% 50%;
    transform: scale(1.1);   
}


.loader{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin:0;
    padding: 0;    
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: black;
    mask:  url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-562 -1110 1200 2400'><path d='M37.5 235 20 110l-10 55c-45-220 100-220 55 0l-10-55z'/><path fill='white' d='M37.5 25c-25 30 0 60 0 60 25-30 0-60 0-60z'/><circle fill='white' cx='37.5' cy='55' r='5'/></svg>"), linear-gradient(#000 0 0);
    mask-composite: exclude;
    mask-position: center;
    mask-size: 100%;
    mask-repeat: no-repeat;    
    animation: loader .7s ease-in forwards;    
}